# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------
RewriteRule ^-Stats$ /Res/Stats.php?For=DUCK [L]

# Migrating to duck.neamar.fr
RewriteRule ^Story-(.+)$  http://duck.neamar.fr/ [L]
RewriteRule ^$ http://duck.neamar.fr/ [L]
RewriteRule ^DUCK/(.+)$ http://duck.neamar.fr/images/$1 [L]
