body { max-width: 1200px; display: flex; flex-direction: column; margin: 0 auto; }

body p { font-family: "Montserrat", sans-serif; color: #333333; font-size: 1em; line-height: 1.5em; }

h1, h2 { font-family: "Quicksand", sans-serif; font-weight: 500; }

.intro { max-width: 800px; margin: 0 auto; text-align: center; margin-bottom: 2em; }

.intro h1 { color: "Montserrat", sans-serif; font-size: 3em; }

.intro p { text-align: left; }

.intro a { font-family: "Quicksand", sans-serif; font-weight: 500; font-size: 1.3em; color: #333333; text-decoration: none; border: solid 2px #333333; padding: 0.2em 0.5em; margin: 0 0.3em; line-height: 2em; }

.intro a:hover { background-color: #333333; color: #fff; padding: 0.2em 0.7em; }

h2 { font-size: 2em; margin: 0; }

.container { display: grid; justify-content: center; row-gap: 3em; column-gap: 1em; margin-bottom: 2em; }

.container .project { border-bottom: solid 1px #eee; display: grid; }

.container .buttons { display: grid; align-self: stretch; margin-bottom: 1em; }

.container .buttons a { justify-self: end; align-self: end; }

a { transition: all 0.2s cubic-bezier(0.1, 0.7, 1, 0.1); }

.mobile h2 a { color: #589f46; text-decoration: none; display: flex; align-content: center; max-height: 40px; }

.mobile h2 a:before { content: url("/svg/mobile.svg"); width: 40px; display: inline-block; padding-right: 0.3em; }

.mobile h2 a:hover { text-decoration: underline; }

.mobile .buttons { font-family: "Quicksand", sans-serif; font-size: 1.2em; }

.mobile .buttons a { color: #589f46; text-decoration: none; border: solid 2px #589f46; padding: 0.2em 0.5em; }

.mobile .buttons a:hover { background-color: #589f46; color: #fff; padding: 0.2em 0.7em; }

.site h2 a { color: #326e9a; text-decoration: none; display: flex; align-content: center; max-height: 40px; }

.site h2 a:before { content: url("/svg/site.svg"); width: 40px; display: inline-block; padding-right: 0.3em; }

.site h2 a:hover { text-decoration: underline; }

.site .buttons { font-family: "Quicksand", sans-serif; font-size: 1.2em; }

.site .buttons a { color: #326e9a; text-decoration: none; border: solid 2px #326e9a; padding: 0.2em 0.5em; }

.site .buttons a:hover { background-color: #326e9a; color: #fff; padding: 0.2em 0.7em; }

footer { margin-bottom: 1em; max-width: 1200px; display: inline-flex; justify-content: space-between; }

footer img { width: 30px; margin-right: 2em; }

footer div { display: flex; flex-direction: row; }

footer a { justify-content: center; text-align: center; font-family: "Quicksand", sans-serif; font-weight: 500; font-size: 1em; color: #333333; text-decoration: none; border: solid 2px #333333; padding: 0.2em 0.5em; line-height: 2em; margin-right: 0.5em; }

footer a:hover { background-color: #333333; color: #fff; padding: 0.2em 0.7em; }

@media (min-width: 1201px) { .container { margin-left: 2em; margin-right: 2em; grid-template-columns: repeat(3, 33%); } }

@media (max-width: 1200px) { body { margin: 0 2em; } .container { grid-template-columns: repeat(2, 50%); } }

@media (max-width: 900px) { .container { grid-template-columns: repeat(1, 70%); } }

@media (max-width: 600px) { .container { grid-template-columns: repeat(1, 90%); } .mobile h2, .site h2 { max-height: none; } footer div { display: flex; flex-direction: column; align-content: center; } footer div a { margin-bottom: 0.5em; } }

@media (max-width: 600px) { footer { display: flex; flex-direction: column; justify-content: center; } footer img { margin: 0 auto; margin-bottom: 0.5em; } }

/*# sourceMappingURL=design.css.map */