a:4:{i:1347563027;a:1:{i:0;a:4:{s:1:"R";b:1;s:1:"I";s:6:"172800";s:1:"C";s:42:"/lib/cron/crons/TwitterFollowOmnilogie.php";s:1:"D";b:0;}}i:1347627201;a:1:{i:0;a:4:{s:1:"R";b:1;s:1:"I";i:1296000;s:1:"C";s:32:"/lib/cron/crons/db_optimizer.php";s:1:"D";b:0;}}i:1347634800;a:1:{i:0;a:4:{s:1:"R";b:1;s:1:"I";s:5:"86400";s:1:"C";s:36:"/lib/cron/crons/TwitterOmnilogie.php";s:1:"D";b:0;}}i:1348521237;a:1:{i:0;a:4:{s:1:"R";b:1;s:1:"I";s:7:"1468800";s:1:"C";s:27:"/lib/cron/crons/db_dump.php";s:1:"D";b:0;}}}